<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rango | Add Page</title>
</head>
<body>
{% if category.slug %}
    <form action="/rango/category/{{ category.slug }}/add_page/" method="post">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="Add Page"/>
    </form>
{% else %}
    <strong>A category by this name does not exist</strong>
{% endif %}
</body>
</html>
