<!DOCTYPE html> {% load staticfiles %}
<html>

<head>
  <meta charset="utf-8">
  <title>Rango</title>
</head>

<body>
  <h1>Rango says ...</h1>
  <div>
    hey there partner!
  </div>
  <div>
    {% if categories %}
    <h2><strong>Most liked Categories</strong></h2>
    <ul>
      {% for category in categories %}
      <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <strong>There are no categories present.</strong> {% endif %}
  </div>
  <h2><strong>Most viewed Pages</strong></h2>
  <div>
    {% if pages %} {% for page in pages %}
    <li><a href="{{page.url}}">{{page.title}}</a></li>
    {% endfor %} {% endif %}
  </div>
  <div>
    <a href="/rango/about/">About</a><br>
    <img src="{% static " images/rango.jpg "%}" alt="picture of rango">
  </div>
</body>

</html>
